<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AK-47 resources</title>
</head>
<body>
    <h1>Learn cybersecurity with AK-47</h1>

    <h2>Learning Platforms</h2>
    <ul>
        <li><a href="tryhackme.html" target="_blank">TryHackMe (Free Rooms)</a></li>
        <li><a href="https://www.hackerrank.com" target="_blank">HackerRank</a></li>
        <li><a href="https://www.hackerearth.com" target="_blank">HackerEarth</a></li>
        <li><a href="https://portswigger.net" target="_blank">PortSwigger</a> (for Burp Suite)</li>
        <li><a href="https://www.acunetix.com/vulnerability-scanner/" target="_blank">Acunetix</a></li>
    </ul>

    <h1>Important websites</h1>
    <ul>
        <li><a href="https://www.namecheap.com/domains/whois/"> whois </a></li>
        <li><a href="https://viewdns.info"> </a>view Dns          https://viewdns.info/ </li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
       <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>
        <li><a href=" ">   </a></li>

    </ul>
    <h2>Vulnerable Testing Web Applications</h2>
    <ul>
        <li><a href="https://testvulnweb.com" target="_blank">TestVulnWeb</a></li>
        <li><a href="http://www.dvwa.co.uk" target="_blank">DVWA (Damn Vulnerable Web Application)</a></li>
        <li><a href="http://muttillo.me" target="_blank">Mutillidae</a></li>
        <li><a href="https://ginandjuice.shop" target="_blank">Gin and Juice Shop</a></li>
        <li><a href="https://www.zaproxy.org" target="_blank">OWASP ZAP</a></li>
    </ul>

    <h2>Capture the Flag (CTF) Platforms</h2>
    <ul>
        <li><a href="https://tryhackme.com" target="_blank">TryHackMe</a></li>
        <li><a href="https://www.hackthebox.com" target="_blank">Hack The Box</a></li>
        <li><a href="https://www.provinggrounds.io" target="_blank">Proving Grounds</a></li>
    </ul>

    <h2>Security Conferences</h2>
    <ul>
        <li><a href="https://www.defcon.org" target="_blank">DEFCON</a></li>
        <li><a href="https://www.blackhat.com" target="_blank">BlackHat</a></li>
        <li><a href="https://owasp.org" target="_blank">OWASP</a></li>
        <li><a href="https://null.community" target="_blank">NullCon</a></li>
    </ul>

    <h2>Security Forums and Communities</h2>
    <ul>
        <li><a href="https://stackoverflow.com" target="_blank">Stack Overflow</a></li>
        <li><a href="https://www.reddit.com/r/netsec" target="_blank">Reddit - NetSec</a></li>
        <li><a href="https://discord.com/invite/infosec" target="_blank">Discord - InfoSec Community</a></li>
    </ul>
</body>
</html>
