<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybersecurity YouTube Channels & Videos</title>
</head>
<body>
    <h1>Cybersecurity YouTube Channels & Videos</h1>

    <h2>Digital Forensics</h2>
    <ul>
        <li><a href="https://youtu.be/JfvHzsexnmc?si=pmwXbnx9F2sknJc5" target="_blank">Digital Forensics - YouTube Video</a></li>
    </ul>

    <h2>Linux</h2>
    <ul>
        <li><a href="https://youtube.com/playlist?list=PLS1QulWo1RIb9WVQGJ_vh-RQusbZgO_As&si=iFs0tfBd_rrMoa5o" target="_blank">Linux Playlist - YouTube</a></li>
    </ul>

    <h2>Cryptography & Networking</h2>
    <ul>
        <li><a href="https://youtube.com/playlist?list=PLkcn06P47MUFVR0rNNYd12t4Vc7Ux7sKj&si=gsztVvsKgelE5Cwk" target="_blank">Cryptography & Networking Playlist - YouTube</a></li>
    </ul>

    <h2>Data Communication and Networking</h2>
    <ul>
        <li><a href="https://youtube.com/playlist?list=PLkW9FMxqUvyZaSQNQslneeODER3bJCb2K&si=e_OjXalF0V-FuAI_" target="_blank">Data Communication and Networking Playlist - YouTube</a></li>
    </ul>

    <h2>Other YouTube Channels</h2>
    

</body>
</html>
